<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>input ur name</title>
    </head>
    <body>

        <form class="" action="" method="POST">
            name:<br>
            <input type="text" name="name" value=""><br>
            zID: <br>
            <input type="text" name="zid" value=""><br>
            description:<br>
            <input type="text" name="des" value=""><br>
            <button type="submit" name="bt">say hi to me </button>
        </form>
    </body>
</html>
